*,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    color: white;
    max-width: 1980px;
    min-width: 320px;
    margin: 0 auto;
}

.header {
    max-width: 1980px;
    min-width: 320px;
    width: 100vw;
    max-height: 100vh;
    background-image: url(../images/header-background.png);
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header_pressed {
    cursor: pointer;
    /* opacity: 0.5; */
    transition: .2s ease all;
}

.header::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    text-align: center;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 30px;
}

.header__subtitle {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}


/* .header__video-conteiner {
    padding-bottom: 56.25%;
} */

.header__video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.header__content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.header__logo {
    width: 500px;
}

.menu {
    max-width: 50px;
    min-width: 10px;
    width: 100%;
    cursor: pointer;
}

.menu__sidebar {
    width: 30vw;
    height: 100vh;
    position: relative;
    z-index: 4;
    text-align: center;
    padding: 40px 0;
    background-color: rgba(94, 84, 84, 1);
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    transition: 1s ease all;
}

.menu__sidebar_visible {
    transform: translateX(0);
    opacity: 1;
}

.menu__sidebar_hidden {
    transform: translateX(100%);
    opacity: 0;
}

.menu__link {
    padding: 10px;
}

.arrow-down {
    margin: 30px auto;
    z-index: 5;
    position: relative;
}

.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fdfdfd;
    border-right: 5px solid #ffffff;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
    z-index: 5;
    position: relative;
}

.arrow-down span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-down span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes arrow-down {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.content {
    height: 6000px;
    background-color: rosybrown;
}