.arrow-down {
    z-index: 5;
    position: relative;
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


/* 
@media screen and (max-width: 767px) {
    .arrow-down {
        margin-bottom: 0;
        width: 25px;
        height: 25px;
    }
} */